@use "variables" as v;
@use "mixins" as m;

.header {
  height: 26rem;
  background-image: url(/assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: v.$white;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  @include m.desktop {
    height: 340px;
  }

  h1 {
    margin: 4rem 0;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    @include m.desktop {
      font-size: 8.5rem;
    }
  }

  p,
  h2 {
    text-align: center;
    width: 100%;
    color: v.$dLight;
    padding: 2rem 0;
    font-size: 1.6rem;
  }

  .blur {
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba($color: #000000, $alpha: 0.3);
    h2 {
      @include m.tablet {
        font-size: 2rem;
      }
    }
  }
}

nav {
  width: 100%;
  display: flex;
  background-color: v.$dark;

  p {
    width: 100%;

    @include m.tablet {
      font-size: 1.8rem;
      &:hover {
        background-color: darken(v.$dark, 5%);
        cursor: pointer;
      }
    }
  }

  .nav-selected {
    background-color: darken(v.$dark, 15%);
    box-shadow: inset 0px 0px 35px -5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: darken(v.$dark, 15%);
      box-shadow: inset 0px 0px 35px -5px rgba(0, 0, 0, 0.4);
    }
  }
}
