$main_font: "Poppins", sans-serif;

$white: #fff;
$dark: #547980;
$normal: lighten(#45ada8, 20%);
$light: #9de0ad;
$dDark: #594f4f;
$dLight: lighten($light, 20%);
$black: #000;
$green: #69a18e;
$red: #a35d5d;

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
